{% extends "layout.html" %}
{% block body %}

<div id="page">
    <center><h1>Assign Worker</h1>
    <p><i>Please assign a worker to a relief center.</i></p>
    <form action="" method="post">
    Relief Center Name:
                    <div class="styled-select">
                   <select id="disaster" name="disaster">
                       {% for each in disaster %}
                       <option value="{{ each[0] }}">{{ each[0] }}</option>
                       {% endfor %}
                   </select></div><br>
    Worker Email Id:
                     <div class="styled-select">
                    <select id="" name="worker">
                    {% for each in emails %}
                    <option value="{{ each[0] }}">{{ each[0] }}</option>
                    {% endfor %}
                    </select></div>
<br>
                    <input class="button" type="submit" value="Submit Request">
                        </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}


{% endblock %}