

{% extends "layout.html" %}
{% block body %}

<div id="page">
    
    <p><i>Please complete the following form to create a new relief center.</i></p>
    <form action="" method="post">
        <input type="text" placeholder="Center Name" name="centername" value="{{request.form.eventname }}">

                <input type="text" placeholder="Center Zipcode" name="centerzipcode" value="{{request.form.eventzipcode }}">
                    
                    <input class="btn btn-default" type="submit" value="Create">
                        </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
    
    



{% endblock %}