{% extends "layout.html" %}
{% block body %}

<div id="page">
    <center>
        <h1>Get Help</h1>
    <p><i>Please complete the following form.</i></p>
    <form action="" method="post">
        Include Unit with item name. (I.E.: Water Bottles)<br>
        <input type="text" placeholder="Item Name" name="itemname" value="{{request.form.itemname }}"><br>
            <input type="text" placeholder="Quantity" name="quantity" value="{{request.form.quantity }}"><br>
                <input type="text" placeholder="Expiration (YYYY-MM-DD)" name="expirationdate" value="{{request.form.expirationdate }}"><br>
                    <input type="text" placeholder="Your Zipcode" name="zipcode" value="{{request.form.zipcode }}"><br>
                   <br>
                   <div class="styled-select">
                   <select id="disaster" name="disaster">
                       {% for each in disas %}
                       <option value="{{ each[0] }}">{{ each[0] }} - {{ each[1] }}</option>
                       {% endfor %}
                   </select><br><br></div><br>
                   <div class="styled-select">
                    <select id="center" name="center">
                    {% for each in center1 %}
                    <option value="{{ each[0] }}">{{ each[0] }} - {{ each[1] }}</option>
                    {% endfor %}
                    </select><br>><br></div>
                   <br>
                    <div class="styled-select">
                    <select id="category" name="category">
                        <option value="food">Food</option>
                        <option value="clothing">Clothing</option>
                        <option value="shelter">Shelter</option>
                        <option value="medicine">Medicine</option>
                        <option value="volunteers">Volunteers</option>
                        <option value="transportation">Transportation</option>
                        <option value="consumable">Everyday Consumable</option>
                    </select><br></label><br></div>
<br>
                    <input class="button" type="submit" value="Submit Request">
                        </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}


{% endblock %}