

{% extends "layout.html" %}
{% block body %}
<p>
<img src="static/diasterpics.png" alt="Fender Rhodes, Hohner Clavinet, and Wurlitzer EP200" width="940" />
</p>
{% if current_user.is_authenticated == False %}
<div id="page">
    <p>
    People who are exposed to nature's fury need help. Help is required in the
    form of human rescuers, money and materials. Various categories of items like,
    food, clothing shelter, medicines, medical attention, and common day to day
    consumables are required. Need for volunteers who can be on the field , is very
    critical. Transport on land, water and air is required. These events may occur
    simultaneously at many locations. Anyone can request help. Anyone can give help, including you.
    </p>
    
</div>

{% endif %}




{% endblock %}