{% extends "layout.html" %}
{% block body %}

<br><br><br>
<h1><center>All Requests</h1></center>
<center><table border=1px solid black style="width:50%">
    <tr>
        <th text-align: left > Disaster Name </th>
        <th text-align: left> Item </th>
        <th text-align: left> Quantity </th>
    </tr>
    {% for each in result %}
    <tr>
        <td text-align: left > {{ each[0] }} </td>
        <td text-align: left> {{ each[1] }} </td>
        <td text-align: left> {{ each[2] }} </td>
    </tr>
    {% endfor %}
</table></center>



{% endblock %}